@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 400px;
  height: 400px;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  animation: spinnerEffect 7s linear infinite;
}

main div {
  width: 80px;
  height: 80px;

  border: 1px solid transparent;
}

main>span {
  width: 20px;
  height: 20px;

  background-color: white;
  border-radius: 50%;

  z-index: 10;
}

main div {
  position: relative;
}

main div:nth-child(1) {
  background-color: black;
  position: absolute;

  overflow: hidden;

  top: 120px;
  left: 120px;

  z-index: 1;
}

main div:nth-child(2) {
  background-color: black;
  position: absolute;

  overflow: hidden;

  top: 200px;
  left: 120px;

  z-index: 2;
}

main div:nth-child(3) {
  background-color: black;
  position: absolute;

  overflow: hidden;

  top: 200px;
  left: 200px;

  z-index: 1;
}

main div:nth-child(4) {
  background-color: black;
  position: absolute;

  overflow: hidden;

  top: 120px;
  left: 200px;

  z-index: 2;
}

main div span {
  border: 1px solid gray;
}

#span-1 {
  position: absolute;

  top: 20px;
  left: -55px;

  width: 110px;
  height: 110px;

  background-color: red;
  transform: rotate(45deg);
}

#span-2 {
  position: absolute;

  top: 25px;
  left: 22px;

  width: 110px;
  height: 110px;

  background-color: yellow;
  transform: rotate(45deg);
}

#span-3 {
  position: absolute;

  top: -53px;
  left: 25px;

  width: 110px;
  height: 110px;

  background-color: blue;
  transform: rotate(45deg);
}

#span-4 {
  position: absolute;

  top: -55px;
  left: -53px;

  width: 110px;
  height: 110px;

  background-color: green;
  transform: rotate(45deg);
}

@keyframes spinnerEffect {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}